.bestDestinations{ 
        width: 350px;
        height: 300px;
        margin: 20px 35px;
        float: left;
        position: relative;
        bottom: 30px;
}

button{
    outline: none;
    border: 0;
}

.button1{
    background-color: #FBEEAC;
    block-size: 50px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    left: 100px;
    position: absolute;
    top: 280px;
    transition-duration: 0.4s;
    width: 150px;
    z-index: 1;

}

.button1:hover {
    background-color: black;
    color: #FBEEAC;
}



.card{
        border-radius: 50px !important; 
        box-shadow: 0 2px 5px #ccc;
        padding: 20px;
        width: 350px;
        margin: 100px;
        margin-top: 5px;
        float: left;
}

.card1{
    font-size: 20px;
    margin: 10px 140px;
    margin-bottom: 5px;
}

.cardMedia{
    float: left;
    margin: 1px;
    padding-top: 2px;
}

.component{
    margin-top: 10px;
}

.hotelCard{
    position: absolute;
    margin: 25rem 8rem;
}

.imagePartCard{
    margin: 2rem;
}

.newSection{
    text-align: center;
    position: relative;
    bottom: 30px;
    right: 250px;
}

.textOfImgCard{
    color: #FBEEAC;
    border-radius: 20px;
    padding-top: 250px;
    padding-left: 10px;
}